@CHARSET "UTF-8";

ul, li {
	margine:0;
	padding:0;
	list-style:none;
}
a {
	color:inherit;
	text-decoration:none;
}
/* 노말라이즈 */


/* 2차메뉴를 포함한 모든 서브메뉴 */
nav.top-menu ul ul {
	display:none;	
}

/* 활성화된 서브메뉴 */
nav.top-menu li:hover > ul {
	display:block;
}

/* 1차 메뉴 */
nav.top-menu > ul {
	background-color:blue;
}

/* 1차 메뉴 아이템 */
nav.top-menu > ul > li {
	background-color:red;
	display:block;
	float:left;
}

/* 1차 메뉴에 막내를 추가한다. */ 	/* <-- ul의 크기가 제 기능을 하겠금 해준다. */
nav.top-menu > ul::after {
	content:"";
	display:block;
	clear:both;
}
