<!DOCTYPE HTML>
<html>
	<head>
		<title>글자관련 태그2 - 텍스트 꾸미기</title>
		<meta charset="utf-8">
	</head>
	<body>
		기준이 되는 텍스트입니다.<br/>
		<b>bold 적용된 텍스트입니다.</b><br/>
		<big>크기가 커진 텍스트입니다.</big><br/>
		<small>크기가 작아진 텍스트입니다.</small><br/>
		<font size=7>글자 폰트 속성도 있음</font><br/>
		<i>기울기 적용된 텍스트입니다.</i><br/>
		아랫첨자<sub>number</sub>윗첨자<sup>number</sup><br/>
		<ins>밑줄 그어진 텍스트입니다.</ins><br/>
		<del>취소선 그어진 텍스트입니다.</del><br/>
		<mark>형광펜 강조된 텍스트입니다.</mark><br/>
		<font color="red">글자 컬러 속성도 있음</font><br/>
		
		<hr/>	<!-- 구분선 태그 -->
		
		&lt; : 크다 표시<br/>
		&gt; : 작다 표시<br/>
		&amp; : and 특수문자<br/>
		&quot; : 큰따옴표 표시<br/>
		&copy; : 카피라이터 표시<br/>
	</body>
</html>