<!DOCTYPE html>
<html>
	<head>
		<title>목록 태그</title>
		<meta charset="utf-8">
	</head>
	<body>
		<!-- li태그는 단독으로 사용될 수 없고 ul 또는 ol과 함께 사용됨. 
			 또한 ul과 ol태그도 자식으로 li태그만 사용가능.(자손태그로는 여러가지 가능)
		-->
		<h1>순서가 없는 목록</h1>
		<ul type="disc">	<!-- type : 각 li앞에 표시되는 구분 타입(disc, circle, square) -->
			<li>내용</li>
			<li>내용</li>
			<li>내용</li>
			<li>내용</li>
			<li>내용</li>
			<li>내용</li>
		</ul>
		
		<h1>순서가 있는 목록</h1>
		<ol type="i">	<!-- 1(기본값), A, a, I, i -->
			<li>내용</li>
			<li>내용</li>
			<li>내용</li>
			<li>내용</li>
			<li>내용</li>
			<li>내용</li>
		</ol>
		
		<h1>정의 목록 태그</h1>
		<dl>
			<dt>제목1</dt>
			<dd>설명1_1</dd>
			<dd>설명1_2</dd>
			
			<dt>제목2</dt>
			<dd>설명2_1</dd>
		</dl>
	</body>
</html>