<!DOCTYPE HTML>
<html>
	<head>
		<title>글자관련 태그1</title>	<!-- 브라우저 가장 상단에 내용이 들어옴 -->
		<meta charset="utf-8">	<!-- html5에서 추가된 기능 -->
	</head>
	<body>
		<h1>제목1</h1>	<!-- 숫자에 따라 크기가 달라진다. -->
		<h2 align="right">제목2</h2>	<!-- align : 가로정렬 속성. 기본값:left. 큰따옴표 작은따옴표 짝만 맞춰주면 상관없음. -->
		<h3>제목3</h3>
		<h4>제목4</h4>
		<h5>제목5</h5>
		<h6>제목6</h6>
		
		<p align="left">	<!-- 단락태그. 줄바꿈 두번과 같은 작용. html5이후부터는 단독태그가 아닌 짝태그로 사용됨. -->
		김재경 국회 헌법개정 및 정치개혁특별위원장은 8일 “정부정책이 제조업 중심으로 쏠리면서 동등하게 대우받을 권리가 있는 농업은 소외받고 있다”며 “농업가치를 헌법에 담겠다는 농업계의 간절한 염원이 꼭 실현될 수 있도록 최선을 다하겠다”고 밝혔다.
		</p>
		<p align="center">
		김 위원장은 이날 범농업계 농업가치 헌법반영 추진연대(이하 추진연대)가 서울 중구 농협중앙회에서 개최한 ‘농업가치 헌법반영 범국민 공감대회’에 참석해 이같이 말했다. 추진연대는 농업가치의 헌법반영을 위해 1월 100여개의 농민단체가 참여해 만든 조직이다.
		</p>
		
		
		
		1. p태그 사이에 여러번 줄바꿈을 하고 아무 내용이나 입력.
		
		
		
		<p align="right">
		추진연대는 소비자단체·학계 등과 함께 농업가치 
		
		<!-- 2. p태그 안에서 여러번 줄바꿈 -->
		
		헌법반영 서명운동에 참여한      <!-- 3. 여러번 space 바 -->             1000만명 정도의 염원을 모든 국민에게 알리기 위해 대회를 열었다.
		</p>
		
		<!-- 위 1번은 위아래 줄바꿈 하나까지만 적용되고 그이상은 안됨.
			2 ~ 3번의 공백들은 html에서 적용되지 않는다.
			p태그 안쪽과 바깥쪽에 제대로 공백을 적용하기위해서는 해당하는 문자(<br/>, &nbsp;)를 사용해줘야한다. -->
	</body>
</html>